<div style="text-align: center; background-color: #559cff; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  üìå  Tr·ª±c Quan H√≥a D·ªØ Li·ªáu - 21_21 üìå
  
   Lab 1
</div>

# 1. Thu th·∫≠p d·ªØ li·ªáu

# 2. Kh√°m ph√° d·ªØ li·ªáu v√† ti·ªÅn x·ª≠ l√≠ d·ªØ li·ªáu

## 2.1 Load data and take a quick look

In [1]:
import numpy as np
import pandas as pd

### 2.1.1 ƒê·ªçc d·ªØ li·ªáu

In [2]:
chunk_size = 100000  # Adjust according to your system's memory
chunks = pd.read_csv("Data/US_Accidents_Reduced.csv", chunksize=chunk_size)

# List to store individual chunks
chunk_list = []

# Iterate over chunks and append to the list
for chunk in chunks:
    chunk_list.append(chunk)

# Concatenate all chunks into one DataFrame
df = pd.concat(chunk_list, ignore_index=True)


# # Randomly sample 1/10th of the rows
# sampled_df = df.sample(frac=0.1, random_state=42)  # Use a fixed random state for reproducibility

# # Save the sampled DataFrame to a new CSV file
# sampled_df.to_csv("Data/US_Accidents_Reduced.csv", index=False)

### 2.1.2 K√≠ch th∆∞·ªõc d·ªØ li·ªáu

In [3]:
df.shape

(772839, 44)

### 2.1.3 Gi·∫£i th√≠ch √Ω nghƒ©a c√°c c·ªôt

In [4]:
df.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-7182628,Source1,1,2020-04-17 09:29:30,2020-04-17 10:29:30,26.706900,-80.119360,26.706900,-80.119360,0.000,...,False,False,False,False,False,True,Day,Day,Day,Day
1,A-5404588,Source1,2,2022-04-21 10:01:00.000000000,2022-04-21 11:44:08.000000000,38.781024,-121.265820,38.780377,-121.265815,0.045,...,False,False,False,True,False,False,Day,Day,Day,Day
2,A-156000,Source3,3,2016-08-12 16:45:00,2016-08-12 17:15:00,33.985249,-84.269348,NaN,NaN,0.000,...,False,False,False,False,False,False,Day,Day,Day,Day
3,A-1871277,Source2,3,2019-09-20 15:22:16,2019-09-20 15:56:00,47.118706,-122.556908,NaN,NaN,0.000,...,False,False,False,False,False,False,Day,Day,Day,Day
4,A-2031222,Source2,2,2019-06-03 16:55:43,2019-06-03 18:12:09,33.451355,-111.890343,NaN,NaN,0.000,...,False,False,False,False,False,False,Day,Day,Day,Day

- **ID**: ID c·ªßa v·ª• tai n·∫°n
- **Source**: Ngu·ªìn d·ªØ li·ªáu th√¥ 
- **Severity**: M·ª©c ƒë·ªô nghi√™m tr·ªçng c·ªßa v·ª• tai n·∫°n, c√≥ gi√° tr·ªã t·ª´ 1 -> 4, bi·ªÉu th·ªã m·ª©c ƒë·ªô ·∫£nh h∆∞·ªüng tƒÉng d·∫ßn l√™n ho·∫°t ƒë·ªông giao th√¥ng
- **Start_Time**: Th·ªùi gian b·∫Øt ƒë·∫ßu v·ª• tai n·∫°n theo gi·ªù ƒë·ªãa ph∆∞∆°ng
- **End_Time**: Th·ªùi gian k·∫øt th√∫c v·ª• tai n·∫°n, ch·ªâ th·ªùi gian ·∫£nh h∆∞·ªüng ƒë·∫øn giao th√¥ng ch·∫•m d·ª©t theo gi·ªù ƒë·ªãa ph∆∞∆°ng
- **Start_Lat**: Vƒ© ƒë·ªô c·ªßa ƒë·ªãa ƒëi·ªÉm x·∫£y ra tai n·∫°n
- **Start_Lng**: Kinh ƒë·ªô c·ªßa ƒë·ªãa ƒëi·ªÉm x·∫£y ra tai n·∫°n
- **End_Lat**: Vƒ© ƒë·ªô c·ªßa ƒë·ªãa ƒëi·ªÉm k·∫øt th√∫c
- **End_Lng**: Kinh ƒë·ªô c·ªßa ƒë·ªãa ƒëi·ªÉm k·∫øt th√∫c
- **Distance(mi)**: Chi·ªÅu d√†i ƒëo·∫°n ƒë∆∞·ªùng b·ªã ·∫£nh h∆∞·ªüng b·ªüi v·ª• tai n·∫°n, t√≠nh b·∫±ng Miles
- **Description**: M√¥ t·∫£ v·ªÅ v·ª• tai n·∫°n
- **Street**: T√™n ƒë∆∞·ªùng trong tr∆∞·ªùng ƒë·ªãa ch·ªâ
- **City**: T√™n th√†nh ph·ªë trong tr∆∞·ªùng ƒë·ªãa ch·ªâ
- **County**: T√™n qu·∫≠n trong tr∆∞·ªùng ƒë·ªãa ch·ªâ
- **State**: T√™n bang trong tr∆∞·ªùng ƒë·ªãa ch·ªâ
- **Zipcode**: M√£ b∆∞u ch√≠nh trong tr∆∞·ªùng ƒë·ªãa ch·ªâ
- **Country**: T√™n qu·ªëc gia trong tr∆∞·ªùng ƒë·ªãa ch·ªâ
- **Timezone**: M√∫i gi·ªù d·ª±a tr√™n v·ªã tr√≠ x·∫£y ra tai n·∫°n (mi·ªÅn ƒë√¥ng, mi·ªÅn trung,...)
- **Airport_Code**: Tr·∫°m th·ªùi ti·∫øt d·ª±a tr√™n s√¢n bay, g·∫ßn nh·∫•t v·ªõi v·ªã tr√≠ c·ªßa v·ª• tai n·∫°n
- **Weather_Timestamp**: Th·ªùi gian ghi nh·∫≠n th√¥ng tin th·ªùi ti·∫øt (theo gi·ªù ƒë·ªãa ph∆∞∆°ng)
- **Temperature(F)**: Hi·ªÉn th·ªã nhi·ªát ƒë·ªô (t√≠nh b·∫±ng Fahrenheit)
- **Wind_Chill(F)**: Hi·ªÉn th·ªã m·ª©c ƒë·ªô l·∫°nh c·ªßa kh√¥ng kh√≠ (t√≠nh b·∫±ng Fahrenheit)
- **Humidity(%)**: Hi·ªÉn th·ªã ƒë·ªô ·∫©m (t√≠nh b·∫±ng %)
- **Pressure(in)**: Hi·ªÉn th·ªã √°p su·∫•t kh√¥ng kh√≠ (t√≠nh b·∫±ng inches)
- **Visibility(mi)**: Hi·ªÉn th·ªã t·∫ßm nh√¨n (t√≠nh b·∫±ng miles)
- **Wind_Direction**: Hi·ªÉn th·ªã h∆∞·ªõng gi√≥
- **Wind_Speed(mph)**: Hi·ªÉn th·ªã t·ªëc ƒë·ªô gi√≥ (t√≠nh b·∫±ng miles / gi·ªù)
- **Precipitation(in)**: Hi·ªÉn th·ªã l∆∞·ª£ng m∆∞a t√≠nh theo inches (n·∫øu c√≥)
- **Weather_Condition**: Hi·ªÉn th·ªã t√¨nh tr·∫°ng th·ªùi ti·∫øt (m∆∞a, c√≥ tuy·∫øt, c√≥ s·∫•m s√©t,...)
- **Amenity**: Ch√∫ th√≠ch ƒë·ªãa ƒëi·ªÉm cho bi·∫øt s·ª± hi·ªán di·ªán c·ªßa ti·ªán nghi ·ªü v·ªã tr√≠ l√¢n c·∫≠n
- **Bump**: Ch√∫ th√≠ch ƒë·ªãa ƒëi·ªÉm cho bi·∫øt s·ª± hi·ªán di·ªán c·ªßa g·ªù gi·∫£m t·ªëc ·ªü v·ªã tr√≠ l√¢n c·∫≠n
- **Crossing**: Ch√∫ th√≠ch ƒë·ªãa ƒëi·ªÉm cho bi·∫øt s·ª± hi·ªán di·ªán c·ªßa ƒëi·ªÉm bƒÉng qua ·ªü v·ªã tr√≠ l√¢n c·∫≠n
- **Give_Way**: Ch√∫ th√≠ch ƒë·ªãa ƒëi·ªÉm cho bi·∫øt s·ª± hi·ªán di·ªán c·ªßa ƒëo·∫°n nh∆∞·ªùng ƒë∆∞·ªùng ·ªü v·ªã tr√≠ l√¢n c·∫≠n
- **Junction**: Ch√∫ th√≠ch ƒë·ªãa ƒëi·ªÉm cho bi·∫øt s·ª± hi·ªán di·ªán c·ªßa giao l·ªô ·ªü v·ªã tr√≠ l√¢n c·∫≠n
- **No_Exit**: Ch√∫ th√≠ch ƒë·ªãa ƒëi·ªÉm cho bi·∫øt s·ª± hi·ªán di·ªán c·ªßa ƒëo·∫°n ƒë∆∞·ªùng kh√¥ng c√≥ l·ªëi ra ·ªü v·ªã tr√≠ l√¢n c·∫≠n
- **Railway**: Ch√∫ th√≠ch ƒë·ªãa ƒëi·ªÉm cho bi·∫øt s·ª± hi·ªán di·ªán c·ªßa ƒë∆∞·ªùng s·∫Øt ·ªü v·ªã tr√≠ l√¢n c·∫≠n
- **Roundabout**: Ch√∫ th√≠ch ƒë·ªãa ƒëi·ªÉm cho bi·∫øt s·ª± hi·ªán di·ªán c·ªßa b√πng binh ·ªü v·ªã tr√≠ l√¢n c·∫≠n
- **Station**: Ch√∫ th√≠ch ƒë·ªãa ƒëi·ªÉm cho bi·∫øt s·ª± hi·ªán di·ªán c·ªßa tr·∫°m t√†u ·ªü v·ªã tr√≠ l√¢n c·∫≠n
- **Stop**: Ch√∫ th√≠ch ƒë·ªãa ƒëi·ªÉm cho bi·∫øt s·ª± hi·ªán di·ªán c·ªßa ƒëi·ªÉm d·ª´ng ·ªü v·ªã tr√≠ l√¢n c·∫≠n
- **Traffic_Calming**: Ch√∫ th√≠ch ƒë·ªãa ƒëi·ªÉm cho bi·∫øt s·ª± hi·ªán di·ªán c·ªßa c√°c bi·ªán ph√°p gi·∫£m t·ªëc ·ªü v·ªã tr√≠ l√¢n c·∫≠n
- **Traffic_Signal**: Ch√∫ th√≠ch ƒë·ªãa ƒëi·ªÉm cho bi·∫øt s·ª± hi·ªán di·ªán c·ªßa ƒë√®n giao th√¥ng ·ªü v·ªã tr√≠ l√¢n c·∫≠n
- **Turning_Loop**: Ch√∫ th√≠ch ƒë·ªãa ƒëi·ªÉm cho bi·∫øt s·ª± hi·ªán di·ªán c·ªßa v√≤ng xoay ·ªü v·ªã tr√≠ l√¢n c·∫≠n
- **Sunrise_Sunset**: Hi·ªÉn th·ªã kho·∫£ng th·ªùi gian trong ng√†y (d·ª±a v√†o b√¨nh minh / ho√†ng h√¥n)
- **Civil_Twilight**: Hi·ªÉn th·ªã kho·∫£ng th·ªùi gian trong ng√†y (d·ª±a v√†o cho·∫°ng v·∫°ng d√¢n s·ª±)
- **Nautical_Twilight**: Hi·ªÉn th·ªã kho·∫£ng th·ªùi gian trong ng√†y (d·ª±a v√†o cho·∫°ng v·∫°ng h·∫£i l√Ω)
- **Astronomical_Twilight**: Hi·ªÉn th·ªã kho·∫£ng th·ªùi gian trong ng√†y (d·ª±a v√†o cho·∫°ng v·∫°ng thi√™n vƒÉn)

## 2.2 Tr√πng l·∫∑p d·ªØ li·ªáu

- Tr√πng l·∫∑p gi·ªØa c√°c d√≤ng c·ªßa d·ªØ li·ªáu

In [5]:
is_duplicated = np.any(df.duplicated())
if is_duplicated:
    print('D·ªØ li·ªáu c√≥ tr√πng l·∫∑p')
else:
    print('D·ªØ li·ªáu kh√¥ng tr√πng l·∫∑p')

D·ªØ li·ªáu kh√¥ng tr√πng l·∫∑p

- C√≥ c·ªôt n√†o c√≥ d·ªØ li·ªáu l·∫∑p l·∫°i kh√¥ng ? (C·ªôt ƒë√≥ ch·ªâ c√≥ m·ªôt gi√° tr·ªã)

In [6]:
duplicated_cols = [col for col in df.columns if df[col].nunique() == 1]
print(duplicated_cols)

[]

In [7]:
df[duplicated_cols].value_counts()

ValueError: No group keys passed!

- C·ªôt `Country`, `Turning_Loop` ch·ªâ c√≥ c√°c 1 gi√° tr·ªã l√† US v√† False .Th·ª±c t·∫ø ta kh√¥ng thu ƒë∆∞·ª£c nhi·ªÅu gi√° tr·ªã v·ªõi c√°c c·ªôt ch·ªâ c√≥ m·ªôt gi√° tr·ªã n√™n ta c√≥ th·ªÉ xo√° ƒëi 2 c·ªôt n√†y.

In [ ]:
df=df.drop(columns=duplicated_cols)

## 2.3 Ki·ªÉu d·ªØ li·ªáu c√°c c·ªôt

- T·ªïng quan d·ªØ li·ªáu c√°c c·ªôt

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7728394 entries, 0 to 7728393
Data columns (total 44 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   Source                 object
 2   Severity               int64
 3   Start_Time             object
 4   End_Time               object
 5   Start_Lat              float64
 6   Start_Lng              float64
 7   End_Lat                float64
 8   End_Lng                float64
 9   Distance(mi)           float64
 10  Description            object
 11  Street                 object
 12  City                   object
 13  County                 object
 14  State                  object
 15  Zipcode                object
 16  Timezone               object
 17  Airport_Code           object
 18  Weather_Timestamp      object
 19  Temperature(F)         float64
 20  Wind_Chill(F)          float64
 21  Humidity(%)            float64
 22  Pressure(in)           float64
 23  Visibility(mi)         float64
 24  Wind_Direction         object
 25  Wind_Speed(mph)        float64
 26  Precipitation(in)      float64
 27  Weather_Condition      object
 28  Amenity                bool
 29  Bump                   bool
 30  Crossing               bool
 31  Give_Way               bool
 32  Junction               bool
 33  No_Exit                bool
 34  Railway                bool
 35  Roundabout             bool
 36  Station                bool
 37  Stop                   bool
 38  Traffic_Calming        bool
 39  Traffic_Signal         bool
 40  Sunrise_Sunset         object
 41  Civil_Twilight         object
 42  Nautical_Twilight      object
 43  Astronomical_Twilight  object
dtypes: bool(12), float64(12), int64(1), object(19)
memory usage: 1.9+ GB

- X√©t v·ªÅ ki·ªÉu d·ªØ li·ªáu: Ta th·∫•y c√≥ c·ªôt `Start_Time`,`End_Time`, `Weather_Timestamp` c√≥ √Ω nghƒ©a th·ªùi gian nh∆∞ng ƒë∆∞·ª£c l∆∞u ·ªü ki·ªÉu **object**  .V√¨ v·∫≠y c·∫ßn chuy·ªÉn ƒë·ªïi ki·ªÉu d·ªØ li·ªáu c·ªßa 3 c·ªôt b√™n tr√™n sang d·∫°ng **datetime**.

In [ ]:
#Chuy·ªÉn c√°c c·ªôt time sang ki·ªÉu datetime
time_cols=['Start_Time','End_Time','Weather_Timestamp']
for col in time_cols:
    df[col]=pd.to_datetime(df[col])

ValueError: unconverted data remains when parsing with format "%Y-%m-%d %H:%M:%S": ".000000000", at position 3639775. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

- ƒê·ªëi v·ªõi v·ªõi c√°c c·ªôt d·∫°ng category ch·ªâ c√≥ 2 gi√° tr·ªã, ta c√≥ th·ªÉ th·ª±c hi·ªán binary encoding ngo·∫°i tr·ª´ c√°c c·ªôt c√≥ ki·ªÉu **bool**.

In [ ]:
two_val_cols = [col for col in df.select_dtypes(exclude=['bool','float64','int64','datetime64[ns]'])
                   if df[col].nunique() == 2]

In [ ]:
df[two_val_cols].apply(pd.Series.value_counts)

,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
Day,5334553,5695619,6076156,6377548
Night,2370595,2009529,1628992,1327600

- 4 c·ªôt n√†y ƒë·ªÅu c√≥ 2 gi√° tr·ªã l√† **Day** v√† **Night** ,n√™n ta c√≥ th·ªÉ chuy·ªÉn **Day** th√†nh gi√° tr·ªã 1 v√† **Night** gi√° tr·ªã 0.

In [ ]:
#Binary Encoding cho c√°c c·ªôt c√≥ 2 gi√° tr·ªã
value_mapping={'Day':1,'Night':0}
for col in two_val_cols:
    df[col]=df[col].map(value_mapping)

- Ki·ªÉu d·ªØ li·ªáu c√°c c·ªôt sau khi chuy·ªÉn ƒë·ªïi

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7728394 entries, 0 to 7728393
Data columns (total 44 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   Source                 object
 2   Severity               int64
 3   Start_Time             datetime64[ns]
 4   End_Time               datetime64[ns]
 5   Start_Lat              float64
 6   Start_Lng              float64
 7   End_Lat                float64
 8   End_Lng                float64
 9   Distance(mi)           float64
 10  Description            object
 11  Street                 object
 12  City                   object
 13  County                 object
 14  State                  object
 15  Zipcode                object
 16  Timezone               object
 17  Airport_Code           object
 18  Weather_Timestamp      datetime64[ns]
 19  Temperature(F)         float64
 20  Wind_Chill(F)          float64
 21  Humidity(%)            float64
 22  Pressure(in)           float64
 23  Visibility(mi)         float64
 24  Wind_Direction         object
 25  Wind_Speed(mph)        float64
 26  Precipitation(in)      float64
 27  Weather_Condition      object
 28  Amenity                bool
 29  Bump                   bool
 30  Crossing               bool
 31  Give_Way               bool
 32  Junction               bool
 33  No_Exit                bool
 34  Railway                bool
 35  Roundabout             bool
 36  Station                bool
 37  Stop                   bool
 38  Traffic_Calming        bool
 39  Traffic_Signal         bool
 40  Sunrise_Sunset         float64
 41  Civil_Twilight         float64
 42  Nautical_Twilight      float64
 43  Astronomical_Twilight  float64
dtypes: bool(12), datetime64[ns](3), float64(16), int64(1), object(12)
memory usage: 1.9+ GB

## 2.4 Kh√°m ph√° d·ªØ li·ªáu numerical v√† categorical

In [ ]:
categotical_cols = df.select_dtypes(include=['object','bool']).columns.tolist()

#c√°c c·ªôt c√≥ 2 gi√° tr·ªã sau khi th·ª±c hi·ªán binary encoding ƒë√£ chuy·ªÉn sang ki·ªÉu float64 
#n√™n ta c·∫ßn th√™m v√†o categotical_cols
categotical_cols=categotical_cols+two_val_cols

numerical_cols = df.select_dtypes(include=['float64','int64']).columns.tolist()
#Xo√° c√°c c·ªôt c√≥ 2 gi√° tr·ªã kh·ªèi numerical_cols
numerical_cols=[col for col in numerical_cols if col not in two_val_cols]

assert len(categotical_cols) + len(numerical_cols) + len(time_cols)  == df.shape[1]